# Dependencies
node_modules

# Build outputs
dist
dist-ssr
build
.tanstack

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
*.local
.vitest

# Misc
count.txt
.nitro
.wrangler
*.tsbuildinfo

# Local Netlify folder
.netlify
